<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xsl.match.mapper.XslMatchRankMapper" >
  <resultMap id="BaseResultMap" type="com.xsl.pojo.XslMatchRank" >
    <!--<id column="Id" property="id" jdbcType="INTEGER" />-->
    <result column="matchRankId" property="matchRankId" jdbcType="VARCHAR"/>
    <result column="rankName" property="rankName" jdbcType="VARCHAR" />
    <result column="rankInfo" property="rankInfo" jdbcType="VARCHAR"/>
    <result column="rankState" property="rankState" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    matchRankId, rankName,rankInfo,rankState
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from xsl_match_rank
    where rankState != 0
  </select>

  <select id="selectByRankId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from xsl_match_rank
    where matchRankId = #{rankId} and rankState != 0
  </select>

  <update id="updateByRankId" parameterType="com.xsl.pojo.XslMatchRank">
    update xsl_match_rank
    set rankName = #{rankName},
    rankInfo = #{rankInfo},
    rankState = #{rankState}
    where matchRankId = #{matchRankId}
  </update>

  <insert id="insert" parameterType="com.xsl.pojo.XslMatchRank">
    insert into xsl_match_rank (matchRankId, rankName,rankInfo,rankState)
    values (#{matchRankId},#{rankName},#{rankInfo},#{rankState})
  </insert>

  <delete id="deleteByMatchRankId" parameterType="java.lang.String">
    delete from xsl_match_rank
    where matchRankId = #{matchRankId}
  </delete>

  <update id="updateRankStateByMatchRankId" parameterType="com.xsl.pojo.XslMatchRank">
    update xsl_match_rank
    set rankState = #{rankState}
    where matchRankId = #{matchRankId}
  </update>

</mapper>