<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xsl.match.mapper.XslMatchTeamMapper" >
  <resultMap id="BaseResultMap" type="com.xsl.pojo.XslMatchTeam" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="teamId" property="teamId" jdbcType="VARCHAR" />
    <result column="matchId" property="matchId" jdbcType="VARCHAR" />
    <result column="teamName" property="teamName" jdbcType="VARCHAR" />
    <result column="teamSynopsis" property="teamSynopsis" jdbcType="VARCHAR" />
    <result column="teamCreatorId" property="teamCreatorId" jdbcType="VARCHAR" />
    <result column="teamCreateTime" property="teamCreateTime" jdbcType="TIMESTAMP" />
    <result column="teamState" property="teamState" jdbcType="INTEGER" />
    <result column="teamSlogan" property="teamSlogan" jdbcType="VARCHAR" />
    <result column="teamLogoUrl" property="teamLogoUrl" jdbcType="VARCHAR"/>
  </resultMap>

  <sql id="Base_Column_List" >
    teamId, matchId, teamName, teamSynopsis, teamCreatorId, teamCreateTime, teamState,
    teamSlogan,teamLogoUrl
  </sql>

  <select id="selectByTeamId" parameterType="java.lang.String" resultType="com.xsl.pojo.XslMatchTeam">
    select <include refid="Base_Column_List"/>
    from xsl_match_team
    where teamId = #{teamId} and teamState != 0
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from xsl_match_team
    where teamState != 0
    order by
    <if test="orderBy != null">
      #{orderBy}
    </if>
    <if test="orderBy == null">
      teamCreateTime
    </if>
  </select>

  <select id="selectAllByMatchId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from xsl_match_team
    where matchId = #{matchId} and teamState != 0
  </select>

  <delete id="deleteByTeamId" parameterType="java.lang.String">
    delete from xsl_match_team
    where teamId = #{teamId}
  </delete>

  <update id="updateByTeamId" parameterType="com.xsl.pojo.XslMatchTeam">
    update xsl_match_team
    set matchId = #{matchId},
    teamName = #{teamName},
    teamSynopsis = #{teamSynopsis},
    teamCreatorId = #{teamCreatorId},
    teamState = #{teamState},
    teamSlogan = #{teamSlogan},
    teamLogoUrl = #{teamLogoUrl}
    where teamId = #{teamId}
  </update>

  <update id="updateTeamState" parameterType="com.xsl.pojo.XslMatchTeam">
    update xsl_match_team
    set teamState = #{teamState}
    where teamId = #{teamId}
  </update>

  <insert id="insert" parameterType="com.xsl.pojo.XslMatchTeam">
    insert into xsl_match_team(teamId, matchId, teamName, teamSynopsis, teamCreatorId, teamState,teamSlogan,teamLogoUrl)
    values (#{teamId},#{matchId},#{teamName},#{teamSynopsis},#{teamCreatorId},#{teamState},#{teamSlogan},#{teamLogoUrl})
  </insert>

</mapper>