<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xsl.match.mapper.XslRewardMapper">
  <resultMap id="BaseResultMap" type="com.xsl.pojo.XslReward">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="rewardId" jdbcType="VARCHAR" property="rewardid" />
    <result column="rewardRankId" jdbcType="VARCHAR" property="rewardrankid" />
    <result column="rewardContent" jdbcType="VARCHAR" property="rewardcontent" />
    <result column="contentQuota" jdbcType="INTEGER" property="contentquota" />
    <result column="rewardCreateTime" jdbcType="TIMESTAMP" property="rewardcreatetime" />
    <result column="rewardState" jdbcType="INTEGER" property="rewardstate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, rewardId, rewardRankId, rewardContent, contentQuota, rewardCreateTime, rewardState
  </sql>
  <select id="selectByExample" parameterType="com.xsl.pojo.Example.XslRewardExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xsl_reward
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xsl_reward
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xsl_reward
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xsl.pojo.Example.XslRewardExample">
    delete from xsl_reward
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xsl.pojo.XslReward">
    insert into xsl_reward (Id, rewardId, rewardRankId, 
      rewardContent, contentQuota, rewardCreateTime, 
      rewardState)
    values (#{id,jdbcType=INTEGER}, #{rewardid,jdbcType=VARCHAR}, #{rewardrankid,jdbcType=VARCHAR}, 
      #{rewardcontent,jdbcType=VARCHAR}, #{contentquota,jdbcType=INTEGER}, #{rewardcreatetime,jdbcType=TIMESTAMP}, 
      #{rewardstate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xsl.pojo.XslReward">
    insert into xsl_reward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="rewardid != null">
        rewardId,
      </if>
      <if test="rewardrankid != null">
        rewardRankId,
      </if>
      <if test="rewardcontent != null">
        rewardContent,
      </if>
      <if test="contentquota != null">
        contentQuota,
      </if>
      <if test="rewardcreatetime != null">
        rewardCreateTime,
      </if>
      <if test="rewardstate != null">
        rewardState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rewardid != null">
        #{rewardid,jdbcType=VARCHAR},
      </if>
      <if test="rewardrankid != null">
        #{rewardrankid,jdbcType=VARCHAR},
      </if>
      <if test="rewardcontent != null">
        #{rewardcontent,jdbcType=VARCHAR},
      </if>
      <if test="contentquota != null">
        #{contentquota,jdbcType=INTEGER},
      </if>
      <if test="rewardcreatetime != null">
        #{rewardcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="rewardstate != null">
        #{rewardstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xsl.pojo.Example.XslRewardExample" resultType="java.lang.Long">
    select count(*) from xsl_reward
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update xsl_reward
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rewardid != null">
        rewardId = #{record.rewardid,jdbcType=VARCHAR},
      </if>
      <if test="record.rewardrankid != null">
        rewardRankId = #{record.rewardrankid,jdbcType=VARCHAR},
      </if>
      <if test="record.rewardcontent != null">
        rewardContent = #{record.rewardcontent,jdbcType=VARCHAR},
      </if>
      <if test="record.contentquota != null">
        contentQuota = #{record.contentquota,jdbcType=INTEGER},
      </if>
      <if test="record.rewardcreatetime != null">
        rewardCreateTime = #{record.rewardcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rewardstate != null">
        rewardState = #{record.rewardstate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update xsl_reward
    set Id = #{record.id,jdbcType=INTEGER},
      rewardId = #{record.rewardid,jdbcType=VARCHAR},
      rewardRankId = #{record.rewardrankid,jdbcType=VARCHAR},
      rewardContent = #{record.rewardcontent,jdbcType=VARCHAR},
      contentQuota = #{record.contentquota,jdbcType=INTEGER},
      rewardCreateTime = #{record.rewardcreatetime,jdbcType=TIMESTAMP},
      rewardState = #{record.rewardstate,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsl.pojo.XslReward">
    update xsl_reward
    <set>
      <if test="rewardid != null">
        rewardId = #{rewardid,jdbcType=VARCHAR},
      </if>
      <if test="rewardrankid != null">
        rewardRankId = #{rewardrankid,jdbcType=VARCHAR},
      </if>
      <if test="rewardcontent != null">
        rewardContent = #{rewardcontent,jdbcType=VARCHAR},
      </if>
      <if test="contentquota != null">
        contentQuota = #{contentquota,jdbcType=INTEGER},
      </if>
      <if test="rewardcreatetime != null">
        rewardCreateTime = #{rewardcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="rewardstate != null">
        rewardState = #{rewardstate,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsl.pojo.XslReward">
    update xsl_reward
    set rewardId = #{rewardid,jdbcType=VARCHAR},
      rewardRankId = #{rewardrankid,jdbcType=VARCHAR},
      rewardContent = #{rewardcontent,jdbcType=VARCHAR},
      contentQuota = #{contentquota,jdbcType=INTEGER},
      rewardCreateTime = #{rewardcreatetime,jdbcType=TIMESTAMP},
      rewardState = #{rewardstate,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>